{
  "idealista": {
    "cookies": {
      "userUUID": "your_user_uuid",
      "_pprv": "",
      "_pcid": "",
      "_pctx": "",
      "_fbp": "",
      "_tt_enable_cookie": "1",
      "_ttp": "",
      "_gcl_au": "",
      "_last_search": "interestZone",
      "askToSaveAlertPopUp": "true",
      "sendbba8248e-a1b5-4184-9292-5c2610c8e4f7": "\"{}\"",
      "ABTasty": "",
      "utag_main__prevCompleteClickName": "",
      "_clck": "",
      "contactdd163d74-a5f3-4206-a97a-363e3d1a902b": "\"{'maxNumberContactsAllow':10}\"",
      "SESSION": "your_session_cookie",
      "utag_main__sn": "",
      "utag_main_ses_id": "",
      "utag_main__prevTstitle": "",
      "utag_main__prevTsReferrer": "",
      "utag_main__prevTsSource": "",
      "utag_main__prevTsCampaign": "",
      "utag_main__prevTsProvider": "",
      "utag_main__ss": "",
      "dicbo_id": "",
      "cookieSearch-1": "",
      "utag_main__pn": "",
      "utag_main__se": "",
      "utag_main__st": "",
      "utag_main__prevCompletePageName": "",
      "utag_main__prevLevel2": "",
      "_uetsid": "",
      "_uetvid": "",
      "datadome": "your_datadome_cookie",
      "_clsk": ""
    }
  },
  "pisocompartido": {
    "cookies": {
      "PHPSESSID": "your_phpsessid",
      "piso_lang": "es",
      "AMCVS_9854C13E58403FEB0A495D53@AdobeOrg": "1",
      "_ga": "",
      "_clck": "",
      "s_ecid": "",
      "s_cc": "true",
      "AMCV_9854C13E58403FEB0A495D53@AdobeOrg": "",
      "G_ENABLED_IDPS": "google",
      "didomi_token": "",
      "euconsent-v2": "",
      "sui_1pc": "",
      "Y3djb25zZW50": "1",
      "_clsk": "",
      "s_nr": "",
      "s_ppn": "",
      "_ga_HLGVJV0DKB": "",
      "s_ppvl": "",
      "s_ppv": ""
    }
  },
  "badi": {
    "headers": {
      "badi-device-id": "your_device_id"
    }
  }
}
